<!-- footer start-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <!-- <h5 style="color: white;">Contact Us</h5>
      <div class="row">
        <div class="col-md-6">
          <label style="color: white;">Contact # : </label>
          <br/>
          <span>{{contact.PrimaryContactNo}}</span><br/><span>{{contact.SecondaryContactNo}}</span>
        </div>
        <div class="col-md-6">
          <label style="color: white;">Email : </label><br/>
          <span>{{contact.PrimaryEmail}}</span><br/><span>{{contact.SecondaryEmail}}</span>          
        </div>
      </div> -->
    </div>
    <div class="col-md-4 footer-copyright" style="text-align:right;">
      <p class="mb-0" style="margin-top: 23%;color: white;">Copyright 2021 © All rights reserved.</p>
    </div>
  </div>
</div>