<div class="container-fluid">
    <div class="row" style="margin-top: 50px;">
        <div class="col-xl-12">
            <div class="card" style="margin-top: 2%;">
                <div class="job-search">
                    <div class="card-header">
                        <h6>{{SubCategoryMode}}</h6>
                    </div>
                    <div class="card-body" [Loader]="loaderService.isLoading | async">
                        <form [formGroup]="subCategoryForm">
                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label class="col-form-label" for="txtApplicationType">Category</label>
                                    <select class="form-control digits"
                                        formControlName="CategoryId">
                                        <option value="">Please Select...</option>
                                        <option *ngFor="let a of categoryList" [value]="a.CategoryId">
                                            {{a.CategoryName}}</option>
                                    </select>
                                    <div *ngIf="submit && subCategoryForm.controls.CategoryId.errors?.required"
                                        class="text text-danger mt-1">
                                        Category is required</div>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <label class="col-form-label" for="SubCategoryName">Sub Category Name</label>
                                    <input class="form-control" id="SubCategoryName" type="text" name="SubCategoryName"
                                        formControlName="SubCategoryName" placeholder="Sub Category Name" autocomplete="off">
                                    <div *ngIf="(subCategoryForm.controls.SubCategoryName.touched || submit) && subCategoryForm.controls.SubCategoryName.errors?.required"
                                        class="text text-danger mt-1">
                                        Sub Category Name is required
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <label class="d-block" for="isActive" style="margin-top:7%;">
                                        <input class="checkbox_animated" id="isActive" name="isActive" type="checkbox"
                                            checked="" formControlName="isActive">Active
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" (click)="save()">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>